// Define variables for your color scheme

// 🎨 WEBSITE COLOR THEME 🎨 //
$darkred: #A10009;
$red: #EB1800;
$lightred: #E05740;
$yellow: #FFA813;
$green: #03AB9A;
// ------------------------ //

$orange: #E67E22;
$blue: #167FFB;
$gray: #0E0000;
$light-gray: #F4F4F4;
