
<div class=container>
  <header class="first-card">
    <div class="filter-div">
      <h1>Welcome.</h1>
      <h2>to Close Santa</h2>
      <hr>
      <p>Here you can find your Santa next to your location <br> and rent him for a special christmas time.</p>
      <br>
      <%= link_to "Find a santa !", "offers_path", class:"pill pill-color pill-text" %>
     </div>
    </header>

   <div class="second-card">
    <article class="display-text" >
      <section>
        <h3>How to rent a Santa ?</h3>
        <p>Welcome to Close Santa, the best website to rent your santa for christmas time.
          Here you can see all the Santa's offer by location and time period.
          You can choose a Santa on his description, his prestation show.</p>
      </section>
      <section>
        <h3>Become a Santa ?</h3>
        <p>You can be a Santa to bring some joy to the childs and help parents.</p>
      </section>
   <article id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d740916.9687744919!2d5.757158441591807!3d43.49801901265715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdd10cf23b0b5d%3A0xb08b358b054a5bf7!2sLe%20Wagon%20Nice!5e0!3m2!1sfr!2sfr!4v1637967652356!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </article>
</div>
