

<div class="container">
  <header>
    <div class="text-center">
      <h2>Welcome to Close Santa</h2>
      <p>Here you can find your Santa next to your location and rent him for christmas time.</p>
      <%= link_to "Find a santa 🎅", offers_path %>
    </div>
  </header>
  <div class="display-home">
    <article class="display-text" >
      <section>
        <h3>How to rent a Santa ?</h3>
        <p>Welcome to Close Santa, the best website to rent your santa for christmas time.
          Here you can see all the Santa's offer by location and time period.
          You can choose a Santa on his description, his prestation show.</p>
      </section>
      <section>
        <h3>Become a Santa ?</h3>
        <p>You can be a Santa to bring some joy to the childs and help parents.</p>
      </section>
    </article>
    <article id="map" >
    </article>
  </div>
</div>
