<div class="home-background">
<div class="background-filter">
<header>
<div class="text-center">
<h2>Welcome to Close Santa</h2>
<p>Here you can find your Santa next to your location and rent him for christmas time.</p>
<btn>
</div>
</header>
<article class="container">
<section>
<h3>How to rent a Santa ?</h3>
<p>Welcome to Close Santa, the best website to rent your santa for christmas time.
Here you can see all the Santa's offer by location and time period.
You can choose a Santa on his description, his prestation show.</p>
</section>

<section>
<h3>Why rent a Santa ?</h3>
<p></p>
</section>
</article>

</div>
</div>
