<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <p>edit account registration</p>
<%= link_to 'edit', edit_user_registration_path(@user) %>
<p>test reservation</p>
<%= link_to 'nouvelle reservation', new_reservation_path %>
