.bouton-green{
  @extend .bouton;
  background-color: $green;
  color: white;
}

.bouton-red{
  @extend .bouton;
  background-color: $red;
  color: white !important;
}

.bouton-black{
  @extend .bouton;
  background-color: black;
  color: white !important;
}

.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  border: solid 0;
  border-radius: 10rem;
  margin:  1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.149);
  transition: 0.5s ease;
}

.bouton:hover {
  box-shadow: 0 0 3rem rgba(32, 40, 37, 0.909);
  transition: 0.5s ease;
  color: white;
}
